{% extends 'reciclaje/base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %}Listar Usuarios{% endblock %}

{% block content %}

    <main class="container p-2 bg-light border m-4">
        <h1 class="text-center my-4">
            Editar
        </h1>
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
            <div class="d-sm-flex justify-content-around px-3">
                <div>
                    <label for="CURP" class="mt-2">
                        CURP
                    </label>
                    {{ form.CURP|add_class:"form-control"|attr:"style:background-color: #D9D9D9;  width: 325px;" }}
                    <label for="Nombre" class="my-2">
                        Nombre(s)
                    </label>
                    {{ form.first_name|add_class:"form-control"|attr:"style:background-color: #D9D9D9;  width: 325px;" }}
                    <label for="Ape_paterno" class="my-2">
                        Apellido(s)
                    </label>
                    {{ form.last_name|add_class:"form-control"|attr:"style:background-color: #D9D9D9;  width: 325px;" }}
                    <label class="my-2" >
                        Tipo de usuario
                    </label>
                    {{ form.tipo|add_class:"form-control"|attr:"style:background-color: #D9D9D9;  width: 325px;" }}
                </div>
                <div>
                    <label for="Ape_paterno" class="mt-2">
                        Correo Electronico
                    </label>
                    {{ form.email|add_class:"form-control "|attr:"style:background-color: #D9D9D9;  width: 325px;" }}
                    <label for="fechaNacimiento" class="my-2">
                        Fecha de Nacimiento
                    </label>
                    {{ form.fechaNacimiento|add_class:"form-control"|attr:"style:background-color: #D9D9D9;  width: 325px;"|attr:"type:date" }}
                    <label for="puntos" class="my-2">
                        Puntos
                    </label>
                    {{ form.puntos|add_class:"form-control"|attr:"style:background-color: #D9D9D9;  width: 325px;" }}
                    <label for="grupos" class="my-2">
                        Grupos
                    </label>
                    {{ form.groups|add_class:"form-control"|attr:"style:background-color: #D9D9D9;  width: 325px;" }}
                    <label for="grupos" class="my-2">
                        Activo
                    </label>
                    {{ form.is_active }}
                </div>
                

            </div>
        
            <div class="my-4 text-center">
                <button type="submit" class="btn btn-primary w-25 mr-2" style="background-color: #0f7173 ; border: #0f7173;">Actualizar</button>
                <a href="../" type="submit" class="btn btn-danger w-25 mr-2"  style="background-color: #e01883 ;">Cancelar</a>
            </div>
    </form>
    </main>
    {% bootstrap_javascript jquery='full' %}     

    {% endblock %}