{% extends 'reciclaje/base.html' %}
{% block content %}
{% load static %}

<div class="d-flex container-xl" style="justify-content: center;">
    <div class="card text-bg-light mb-4" style="max-width: 25rem; margin-top: 20px;">
      <div class="m-3" style="text-align: center;">

          <a class="dropdown-item text-end" href="{% url 'perfil' %}"><i class="bi bi-pencil-square"></i></a>
  
          <img src="{% static 'reciclaje/img/'%}{{object.pic}}" alt="Fotot de perfil" class="rounded-circle p-0" style="width: 150px; height: 150px;">
  
          <h1>{{object.first_name}} {{object.last_name}}</h1>

          <h5><b>CURP</b></h5>
  
          <h5 style="color: #6F6F6F;">{{object.CURP}}</h5>
  
          <span class="badge" style="background-color: #E01883;"><h1 style="color: white;">{{object.puntos}} pts</h1></span>
  
          <h5><b>Fecha de nacimiento</b></h5>
  
          <h5 style="color: #6F6F6F;">{{object.fechaNacimiento}}</h5>
  
          <h5><b>Tipo de usuario</b></h5>
  
          <h5 style="color: #6F6F6F;">{{object.tipo}}</h5>
  
      </div>
    </div>
</div>



{% endblock content %}