{% extends 'reciclaje/base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block title %}Registro{% endblock %}

{% block content %}

{% load static %}


<!--<form action="" method="post"> {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
</form>-->
<!-- <div class="login-box">
  <div class="login-logo">
    <a href="{% url 'homee' %}">
      <b>Ingresa tu correo electrónico</b>
      para recuperar tu contraseña </a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
<form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %} {{ form.email.errors }} {% endif %}
  <div class="row-cols-1">
  <div class="form-outline" style="margin-bottom: 8px;">
    {{ form.email|add_class:"form-control" }}
  </div>
  <input type="submit" class="btn btn-primary btn-block" value="Recuperar" id="recuperar"></input>
</div>

<script> function hecho(){document.body.innerHTML = '<div class="alert alert-success"><strong>Hecho!</strong> Te enviamos un email para que recuperes tu contraseña <a href="{% url 'homee' %}" class="alert-link">regresar</a></div>'} </script>
</form>

</div>
  
</div>
</div> -->

<div class="card text-center"   style="width: 300px; margin: auto; ">
  <div class="card-header h5 text-white " style="background-color:  #0f7173;" >Recuperar Contrseña</div>
  <div class="card-body px-5" >
    <p class="card-text py-2">
      Ingrese su email y le enviaremos un email con instrucciones para recuperar su contraseña
    </p>
    <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="form-outline">
      {{ form.email|add_class:"form-control my-3" }}
      <label for="typeEmail" class="form-label">Ingrese su email</label>
    </div>
    <input type="submit" class="btn btn-primary w-100" value="Recuperar Contrseña" style="background-color:  #0f7173;"></input>
    </form>
  </div>
</div>


{% endblock %}