{% extends 'reciclaje/base.html' %}

{% load widget_tweaks %}

{% block title %}Registro{% endblock %}

{% block content %}

{% load static %}

{% if validlink %}
<div class="login-box">
        <div class="login-logo">
            <a href="{% url 'homee' %}">
              <b>Ingresa tu nueva</b>
              contraseña </a>
        </div>
    
    
    <div class="card">
        <div class="card-body login-card-body">
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors|add_class:"form-control" }}
                    <h7>Nueva Contraseña:</h7>
                </td>
                <td>{{ form.new_password1|add_class:"form-control" }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <h7>Confirma Contraseña:</h7>
                </td>
                <td>{{ form.new_password2|add_class:"form-control" }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></td>
            </tr>
        </table>
    </form>
</div>
</div>

</div>
    {% else %}
        <p>Tu link ya caduco solicitalo de nuevo</p>
    {% endif %}



{% endblock %}