{% extends 'reciclaje/base.html' %}

{% block title %}
Reporte de Almacenes
{% endblock %}

{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="bi bi-clipboard-data"></i>
            {{ title }}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Rango de Fechas:</label>
                        {{ form.date_range }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <table class="table table-bordered" id="data">
            <thead>
                <tr>
                    <th scope="col">Nro</th>
                    <th scope="col">Lugar</th>
                    <th scope="col">Trabajador</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Disposicion Final</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% block rows %}

                {% endblock %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {% block buttons_list %}
            <a href="{% url 'reportes' %}" class="btn btn-primary btn-flat ">
                <i class="bi bi-arrow-repeat"></i> Actualizar
            </a>
        {% endblock %}
    </div>
</div>

<script>

    var date_range = null;
    var date_now = new moment().format('YYYY-MM-DD')

    function generar_reporte(){
        var parameters = {
            'action': 'search_report',
            'start_date' : date_now,
            'end_date': date_now, 
        };

        if(date_range !== null){
            parameters['start_date'] = date_range.startDate.format('YYYY-MM-DD');
            parameters['end_date'] = date_range.endDate.format('YYYY-MM-DD');
        }

        $('#data').DataTable( {
            responsive: true,
            autoWidt: false,
            destroy: true,
            deferRender: true,
            ajax: {
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataSrc: ""
            },
            order: false,
            dom: 'Bfrtip',
            buttons: [
                        {
                            extend: 'excelHtml5',
                            text: 'Descargar Excel <i class="fas fa-file-excel"></i>',
                            titleAttr: 'Excel',
                            className: 'btn btn-success btn-flat btn-xs'
                        },
                        {
                        extend: 'pdfHtml5',
                        text: 'Descargar Pdf <i class="fas fa-file-pdf"></i>',
                        titleAttr: 'PDF',
                        className: 'btn btn-danger btn-flat btn-xs',
                        download: 'open',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        customize: function (doc) {
                            doc.styles = {
                                header: {
                                    fontSize: 18,
                                    bold: true,
                                    alignment: 'center'
                                },
                                subheader: {
                                    fontSize: 13,
                                    bold: true
                                },
                                quote: {
                                    italics: true
                                },
                                small: {
                                    fontSize: 8
                                },
                                tableHeader: {
                                    bold: true,
                                    fontSize: 11,
                                    color: 'white',
                                    fillColor: '#2d4154',
                                    alignment: 'center'
                                }
                        };
                        doc.content[1].table.widths = ['10%','10%','20%', '10%','15%','15%','10%','10%'];
                        doc.content[1].margin = [0, 35, 0, 0];
                        doc.content[1].layout = {};
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Fecha de creación: ', {text: date_now}]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['página ', {text: page.toString()}, ' de ', {text: pages.toString()}]
                                    }
                                ],
                                margin: 20
                            }
                        });

                    }
                }
            ],
            columnDefs: [
                {
                    targets: [-1],
                    class : 'text-center',
                    orderable: false,
                    reneder: function (data, type, row) {
                        
                    }
                },
            ],
            initComplete: function (settings, json) {

            }
        });
    }

    $(function () {
        $('input[name="date_range"]').daterangepicker({
        locale : {
            format: 'YYYY-MM-DD',
            applyLabel : 'Aplicar',
            cancelLabel: 'Cancelar',
            }
        }).on('apply.daterangepicker', function(ev, picker){
            date_range = picker;
            generar_reporte();
        }).on('cancel.daterangepicker', function(ev, picker){
            $(this).data('daterangepicker').setStartDate(date_now);
            $(this).data('daterangepicker').setEndDate(date_now);
            date_range = picker;
            generar_reporte();
        });        
        generar_reporte();
    });

    
</script>

{% endblock %}


